# node_modules (React e Vite)
node_modules/

# Build do Vite
dist/
.vite/

# Arquivos do Foundry
out/
cache/
artifacts/
broadcast/
forge-artifacts/

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Sistema e IDE
.DS_Store
.vscode/
.idea/

# Logs
*.log

# Outros
coverage/
